@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
/*Global variable if i want to repeat them a bunch of times
Good for saving sanity
Used for nav bar and button and everything for now for */
:root{ 
    --nav_font:'Lato';
    --header_content_size: x-large;
    --whitesmoke:whitesmoke;
    --deepshadow:rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    --big_font:2rem;
    --black_color:#333;
    --dark_gray:#565656;
    --round_img_radius:50%;
    --aqua:aqua;
    --silver:#C0C0C0;
    --true_black:black;

  }
  
/*Change everything to border box for easier coding( better box adjusting)*/
* {box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    white-space: normal;

    overflow-wrap: break-word;
    word-wrap: break-word;

    /*Word break for all cases*/
    -ms-word-break: break-all;
    word-break: break-all;

    /*Webkit may have different display with with word break so use this one
    instead*/
    word-break: break-word;

    /*Add hyphens whenever possible*/
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    

    margin: 0;
  }

/*Nav bar*/
/* Navigation main container */
.nav_bar {
    list-style-type: none;
    
    
  }

/*For making nav sticky when scroll*/
.sticky_header {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 7;
}
/*Containment element inside nav bar
Use inline block to put all the element on 1 row*/  
.nav_bar  li {
    
    display: inline-block;
    padding:  0px 25px;
    font-family:var(--nav_font) ;
  }
  

/*First element get more padding for better looking position*/  
.nav_bar  li:nth-child(1) {
    
    padding-left: 20px;
  } 

/*Main button inside nav bar*/
.nav_button  a {
    
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    font-family: var(--nav_font);
    
  }
  
 /* When hover upon nav bar  */
  li a:hover {
    color:var(--aqua);
    cursor: pointer;
  }

  /*Header row, uses for container nav*/
header{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--true_black);
    justify-content:space-around;
    align-items: center;
    width: 100%;
    height: 3rem;
    
}

/* Contact button */
.Contact{
   margin-right: 5rem;
    padding: 9px 25px;
    background-color: burlywood;
    border: none;
    border-radius: 50px;
    transition: all 0.5s ease;
    font-family: var(--nav_font);
    text-decoration: none;
    color: var(--true_black);
}

/* When hover upon contact button */
.Contact:hover{
    background-color: yellow;
}

/*Hamburger menu*/
.burger{
  display: none;
}
.burger div
{
 top:20px; 
 width: 25px;
 height: 3px;
 background-color: var(--whitesmoke); 
 margin: 5px;
 transition: all 0.3s ease ;
 z-index: 11;
}


/*Footer*/
.footer_container
{
background-color: var(--dark_gray);
display: flex;
justify-content: space-evenly;
flex-direction: row;

}

.footer_title{
  margin-bottom: 2rem;
}
.footer_text{
  color: var(--whitesmoke);
}
.contact_list{
color: var(--whitesmoke);
list-style: none;
}
.contact_img
{
  max-width: 2vh;
  max-height: 2vw;
}

/*Footer nav bar*/
.nav_footer_list
{
 font-size: 30px; 
 list-style: none;
}

.nav_footer_list li{
  padding: 5px;
}
.nav_footer_list li a{
  text-decoration: none;
  color: var(--whitesmoke);
}

.nav_footer_list li a:hover{
  color: var(--aqua);
}
.footer_paragraph
{
  max-width: 20rem;
}

/*Actual skill page*/


.skill_page{
    background-color: var(--black_color);
    
}

.skill_container{
    display: flex;
    flex-direction: column;
    background-color: var(--silver);
    
    margin: 0 auto;
    margin-top: 2rem;
    
}

.skill_container,.skill_item{
  max-width: 80vw;
}
.skill_item{
    display: flex;
    flex-direction: column ;
    justify-content:center ;
    padding-bottom: 2rem;
    border: 5px var(--whitesmoke) solid;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
}

/*Text box 1-title*/
.skill_item_title{
    justify-content: center !important;
}
.skill_title{
    color: var(--black_color);
    font-size: 5rem;
    position: relative;
}

.skill_item_img1 ,.skill_item_img2,.skill_item_img3{
    max-width: 40vw;
    max-height: 40vh;
    
}
/*Text box 2*/

.skill_item_img1,.skill_item_img3{
    
    float: left;
    margin-right: 4rem;
}

.skill_item_text{
    font-size: var(--header_content_size);
    font-family: 'Times New Roman', Times, serif;
    
    
}

/*Text box 3*/

.skill_item_img2{
    
    float: right;
    margin-left: 3rem;
}

/*Text box 4*/

.skill_item_img3{
  display: block;
}

/*Animation box*/

.skill_animation_box{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.animation{
 animation-name: skill_animate;
 animation-duration: 3s;
  height:10rem;
  width: 10rem;
  background-color: yellow;
  z-index: 5;
  
  animation-iteration-count: 4;
  
}

@keyframes skill_animate {
  0% {background-color: yellow;}
  20% {background-color: red;transform: translateX(-100%);}
  40%{background-color: orange;transform: translateX(0%);}
  80%{background-color: pink;transform: translateX(100%);}
}
/*Responsiveness
/*Phone*/
@media screen and (max-width: 768px) {

    /*nav bar*/
    .skill_page{
      overflow-x: hidden;
      
    }

    /*Making nav bar sticky*/
    .sticky_header {
      position: fixed !important;
      top: 0;
      width: 100%;
      z-index: 10;
    }
  
    .sticky_nav{
      position: fixed !important;
      width: 50%;
      top: 2vh;
      z-index: 10;
    }

    .nav_bar{
      position: absolute;
      right: 0px;
      height:70vh ;
      top: 2vh;
      background-color: var(--true_black);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 60%;
      display: none;
      transition: transform 0.5s ease-in;
      z-index: 10;
      top: 3rem;
    }
  .nav_bar li{
    opacity: 0;
  }
  
  .burger{
    display: block;
    cursor: pointer;
    z-index: 11;
  }
  
  .nav_active{
    display: flex;
    
  }
  
  /*Footer*/
  .footer_container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer_title{
   margin-left: 5rem;
  }

 
  .contact_details{
    margin-right: 7rem;
  }
  
  .contact_img{
    
    max-height: 2rem;
  }


  .nav_footer_list li{
    padding-right: 10rem;
  }

  /*Skill page*/

  .skill_title{
    font-size: 2rem;
  }

  .animation{
    max-width: 4rem;
    max-height: 4rem;
  }

  .skill_item_img1 ,.skill_item_img2,.skill_item_img3{
    max-width: 50vw;
    max-height: 50vh;
  }

  .skill_item_img1,  .skill_item_img3{
    margin-right:7rem ;
  }

  .skill_item_img2{
    margin-left: 7rem;
  }
  .skill_container,.skill_item{
    max-width: 86vw;
  }
  .skill_item_text a{
    font-size: 18px;
    
  }
    }
  /*Slide Animation for burger mobile menu*/ 
  @keyframes navBarFade{
    from{
      opacity:0;
      transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  .toggle .line1{
     transform: rotate(-45deg) translate(-5px,6px);
  }
  
  .toggle .line2{
  opacity: 0;
  }
  
  .toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
  }